{{!-- <header class='header mb-5'>
  <div class='bs-icon'>
    <img
      src='../images/icons/bootstrap.svg'
      alt='bootstrap icon'
      class=''
    />
  </div>
  <div class='header-nav'>
    <nav class='header-nav'>
      {{#each header}}
        <div class='link'>
          <a href='{{url}}' class='nav-link'> {{text}} </a>
        </div>
      {{/each}}
    </nav>
  </div>
</header> --}}

{{!-- <footer class='mt-5'>
  <div class='row'>
    <div class='col-4'>
      <img
        src='../images/icons/bootstrap.svg'
        alt='bootstrap icon'
      />
      <p>Copyright 2023</p>
    </div>
    <div class='col-8'>
      <div class='row'>
        {{#each footer}}
          <div class='col-4'>
            <p class='footer-link-title'> {{title}} </p>
            {{#each links}}
              <div class='footer-link'>
                <a href='{{url}}' class=''> {{text}} </a>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</footer> --}}