<html lang='en'>
  <head>
    <title>
      {{page.title}}
    </title>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0'
    />
    <link href='css/normalize.css' rel='stylesheet' />

    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD'
      crossorigin='anonymous'
    />

    <link href='css/template-5.css' rel='stylesheet' />
    <title>Document</title>
  </head>

  <body class='page'>
    <div class='page-content'>
      <header class='header'>
        <div class='bs-icon'>
          <img
            src='../images/icons/bootstrap.svg'
            alt='bootstrap icon'
            class=''
          />
        </div>
        <div class='header-nav'>
          <nav class='header-nav'>
            {{#each header}}
              <div class='link'>
                <a href='{{url}}' class='nav-link'>
                  {{text}}
                </a>
              </div>
            {{/each}}
          </nav>
        </div>
      </header>

      <div class='main-content'>
        {{{body}}}
      </div>

      <footer class='footer'>
        <div class='row'>
          <div class='col-4'>
            <img
              src='../images/icons/bootstrap.svg'
              alt='bootstrap icon'
            />
            <p>Copyright 2023</p>
          </div>
          <div class='col-8'>
            <div class='row'>
              {{#each footer}}
                <div class='col-4'>
                  <p class='footer-link-title'>
                    {{title}}
                  </p>
                  {{#each links}}
                    <div class='footer-link'>
                      <a href='{{url}}' class=''>
                        {{text}}
                      </a>
                    </div>
                  {{/each}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js'
    ></script>
  </body>

</html>